<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Сайт объявлений {% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
<p>Привет {{ user.first_name }} <a href="{% url 'ad_create' %}">Создать объявление</a> <a href="{% url 'lk' %}">Личный кабинет</a> <a href="{% url 'logout' %}">Выйти из аккаунта</a></p>
{% else %}
<p><a href="{% url 'login' %}">Вход</a> <a href="{% url 'registration' %}">Регистрация</a></p></p>
{% endif %}
<p><h2><a href="{% url 'main' %}">Сайт бесплатных объявлений</a></h2></p>

{% block content %}

{% endblock %}
</body>
</html>