<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Сайт объявлений {% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
<p>Привет {{ user.first_name }} <a href="{% url 'logout' %}">Выйти из аккаунта</a> <a href="{% url 'login' %}">Личный кабинет</a></p>
{% else %}
<p><a href="{% url 'login' %}">Личный кабинет</a> <a href="{% url 'registration' %}">Создать аккаунт</a></p></p>
{% endif %}
<p><h2>Сайт бесплатных объявлений</h2></p>

{% block content %}

{% endblock %}
</body>
</html>